<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Sign up</label
    >

    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Email</label>
          <input id="user" type="text" class="input" [(ngModel)]="user.email" />
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input
            id="pass"
            type="password"
            class="input"
            data-type="password"
            [(ngModel)]="user.password"
          />
        </div>
        <div class="group">
          <label for="name" class="label">First name</label>
          <input
            id="name"
            type="text"
            class="input"
            [(ngModel)]="user.firstName"
          />
        </div>
        <div class="group">
          <label for="latname" class="label">Last name</label>
          <input
            id="latname"
            type="text"
            class="input"
            [(ngModel)]="user.lastName"
          />
        </div>
        <div class="group">
          <label for="name" class="label">Is female</label>
          <input
            id="female"
            type="checkbox"
            class="input"
            [(ngModel)]="user.is_female"
          />
        </div>
        <div class="group">
          <button class="button" (click)="onSubmit()">Sign up</button>
        </div>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</div>
