<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Write new notification</label
    >

    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Title</label>
          <input
            id="user"
            type="text"
            class="input"
            [(ngModel)]="newNotification.title"
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Content</label>
          <input
            id="pass"
            type="text"
            class="input"
            data-type="number"
            [(ngModel)]="newNotification.content"
          />
        </div>
        <div class="group">
          <button class="button" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 10px">
  <div
    class="panel panel-default"
    *ngFor="let n of notifications"
    style="border-style: solid; margin-bottom: 50px"
  >
    <div
      class="panel-body"
      style="background-color: rgb(050, 47, 47) !important; color: white"
    >
      <div class="media">
        <div class="media-left">
          <img
            class="media-object"
            style="height: 150px"
            src="https://w7.pngwing.com/pngs/537/580/png-transparent-bell-notification-communication-information-icon.png"
            alt="notification"
          />
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ n.title }}</h4>
          {{ n.content }}
        </div>
      </div>
    </div>
  </div>
</div>
