<div class="col-md-2 p-x-0 p-y-3" style="margin-bottom: 150px">
  <nav>
    <ul class="dropdown">
      <li class="drop not-last">
        <a routerLink="home">Home</a>
      </li>
      <li *ngIf="loggedInUser?.role === 'PATIENT'" class="drop not-last">
        <a routerLink="internist">Internist datas</a>
      </li>
      <li class="drop not-last">
        <a routerLink="blogs">Blogs</a>
      </li>
      <li class="drop not-last" *ngIf="loggedInUser?.role === 'ADMIN'">
        <a routerLink="administration">Administration</a>
      </li>
      <li class="drop not-last">
        <a routerLink="appointments">Appointments</a>
      </li>
      <li class="drop not-last">
        <a routerLink="reports">Reports</a>
      </li>
      <li class="drop not-last">
        <a routerLink="referrals">Referrals</a>
      </li>
      <li class="drop not-last" *ngIf="loggedInUser?.role === 'PATIENT'">
        <a routerLink="appointment-history">Appointment history</a>
      </li>
      <li class="drop">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
